body {
    margin:0;
    padding:0;
    height: 100vh;
    width:100vw;
    background-image: url('/Sebastian/sebImages/IMG_7144.JPG');
    background-position: center 100%;
    background-size: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

h4, p{
    font-family: sans-serif;
}

.firstArea{
    position: relative;
    width:100%;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
}

.firstArea h1{
    position: absolute;
    z-index:2;
    font-family: "Noto Sans Arabic", sans-serif;
    color: red;
    margin-left: 90rem;
    margin-top: 10rem;
    text-align: right;
}

#textChangerer{
    font-size: 5rem;
    margin-left: 12rem;
    height: 100vh;
    width: 20rem;
    position: absolute;
    z-index:2;
    writing-mode: vertical-rl;
    transition: transform 1000ms cubic-bezier(.13,.53,.38,.97);
}

#textChangerer:hover{
    color: white;
    transform: translateY(30%) translateX(90%);
    transition: transform 1000ms cubic-bezier(.13,.53,.38,.97);
}

.pageLeaving[data-page="true"] > .firstArea > #textChangerer{
    width: 80rem;
    height: 10rem;
    margin-top: 60vh;
    transform: translateY(0) translateX(0);
    transition: transform 1000ms cubic-bezier(.13,.53,.38,.97);
}

.pageLeaving[data-page="true"] > .firstArea > #textChangerer:hover{
    color: white;
    transform: translateY(0) translateX(0);
    transition: transform 1000ms cubic-bezier(.13,.53,.38,.97);
}

.feets{
    width:100%;
    transform: translateY(0);
    transition: transform 1000ms cubic-bezier(.13,.53,.38,.97);
}

.pageLeaving[data-page="true"] > .firstArea > .feets {
    transform: translateY(-54%);
}

#firstArea-toggle{
    height: 5rem;
    width:5rem;
    position: fixed;
    z-index:3;
    left:50%;
    bottom:3rem;
    transform:translateX(-50%);
    background-color: #F2F5EA;
    border: none;
    border-radius: 5rem;
    outline: none;
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#firstArea-toggle:hover{
    transform: translateX(-50%) scale(1.04);
}

#firstArea-toggle:active{
    transform: translateX(-50%) scale(0.96);
}

.iconz{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%) scale(0.9);
    width:50%;
    height:50%;
    opacity: 0;
    margin-top: 5px;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

.open{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #C9CAD9;
}

.close{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #C9CAD9;
}

.pageLeaving:not([data-page="true"]) > #firstArea-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -20%) scale(1);
}

.pageLeaving[data-page="true"] > #firstArea-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.pageLeaving[data-page="true"] > .firstArea{
    transform: translateY(-50%);
}

.firstArea{
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}

.bottomAreaWidth{
    height:50vh;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
    background-color: #0c0c0c;
}

.pageLeaving[data-page="true"] > .bottomAreaWidth {
    transform: translateY(0%) scale(1);
}

.bottomArea::-webkit-scrollbar{
    display:none;
}

.enterPhoneNumber{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width:700px;
    height:100%;
    flex: 0 0 auto;
}

#randomNumber{
    font-size: 60px;
}

.enterPhoneNumber button{
    background-color: transparent;
    border:none;
    width: 400px;
    margin-bottom: 20px;
}

.enterButtin{
    margin-bottom: 200px;
}

.enterPhoneNumber button:hover{
    cursor: pointer;
}

.enterPhoneNumberArea{
    display:flex;
}

.enterPhoneNumber button, .enterPhoneNumber p{
    color: white;
}

/*----------------------------------------------------------*/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    background-color: white;
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #0c0c0c;
    padding-top: 5px;
    margin:0;
}

.description h4 {
    text-transform: uppercase;
    color: #0c0c0c;
    margin:0;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpeg');
}
.card[for="c2"] {
    background-image: url('./img2.jpeg');
}
.card[for="c3"] {
    background-image: url('./img3.jpeg');
}
.card[for="c4"] {
    background-image: url('./img4.jpeg');
}
/*----------------------------------------------------------*/

.bottomArea{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width:90%;
    overflow-x: scroll;
    overflow-y: hidden;
    height:20rem;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.imagez{
    width:600px;
    height:20rem;
    object-fit: cover;
    object-position: center;
}

.startGame, .ThirdSectionAreaArea, .FourthSectionArea, .FifthSectionArea{    
    /* overflow: hidden;
    display:flex;
    align-items: center;
    flex: 0 0 auto; */
}

.imagez{
    cursor: pointer;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}

#video-container {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
#youtube-video {
    display:none;
    position: absolute;
}

.firstSection, .secondSection{
    width:100%;
}

.pageLeaving{
    top:0;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
}

.opacityButton{
    z-index: 100;
    opacity: 1;
    position:fixed;
    bottom:0;
    right: 0;
    margin-right: 80px;
    margin-bottom: 80px;
    width:100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    color: white;
    background-image: url('/Sebastian/sebImages/IMG_7144.JPG');
    background-position: center 0%;
    background-size: 100%;
    transition: transform;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

.opacityButton:active{
    transform:scale(0.96);
}